#lol{
    font-family: var(--Fonts);
}
#shape{
    margin: 1.6rem;
    padding: 1rem;
    height: 45rem;
}
  .Courses{
      margin: 0 2.08rem;
      width: 96%;
      
      border: 0.1rem solid grey;
      padding: 3.84rem 4rem;
      padding-bottom: 0;
  }
  .Courses .Pro-info{
      width: 100%;
      z-index: 11;
      height: 20rem;
  }
  .Courses .Pro-info .info-pro{
      width: 85%;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: .2rem;
      font-size: 2.88rem;
      max-width: 128rem
  
  }
  .Courses .Pro-info .data-repo{
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: start;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block!important;
      display: -webkit-box!important;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      margin-bottom: 2.56rem;
      max-width: 128rem;
      font-size: 1.8rem;
  }
  .Courses .Pro-info  .explore{
      border: 0.1rem solid var(--halkaDark);
      padding: 0.8rem;
      box-shadow: 0 0 0.9rem rgba(0,0,0,0.765);
  }
  .Courses .Pro-info  .explore a{
      text-decoration: none;
      color: #1c1d1f;
      font-weight: bold;
  }
  .Courses .Pro-info  .explore:hover{
      background-color: var(--produclink);
  }
  /* carousel */
  .Courses .carousels{
      width: 100%;
    position: relative;
      display: flex;
      z-index: 1111;
      height: 42rem;
      justify-content:space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  .Courses .carousels .outside{
      flex: 100%;
      width: 100%;
    position: relative;
height: 100%;
      display: flex;
      overflow: hidden;
      flex-wrap: wrap;
  }
  
  #inside{
    
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
  }
  #inside:nth-child(1){
  }
  @media (max-width:1030px) {
    .Courses .Pro-info .info-pro{
        font-size: 2.5rem;
    }
  }
  @media (max-width:600px) {
      .Courses .Pro-info{
          display: none;
      }
}  @media (max-width:1200px) {
      #inside:nth-child(5){
          display: none;
          border: 1px solid orange;
      }
      #shyam{
          display: none;
      }
      .inside:nth-child(5){
        display: none;
    }
}  @media (max-width:988px) {
      #shyam1{
          display: none;
      }
      #shyam2,
      #shyam3,
      #shyam4{
          flex: 33%;
      }
}  @media (max-width:700px) {
    #shyam2{
        display: none;
    }
         
.carousel-control-prev,
.carousel-control-next{
    font-size: 2rem;
}
    #shyam3,
    #shyam4{
        flex: 33%;
    }
}  @media (max-width:440px) {
    #shyam3{display: none;}
    #shyam4{
        flex: 33%;
    }
    .carousel-control-prev,
.carousel-control-next{
    font-size: 1.6rem;
}
}  @media (max-width:px) {}
      
.carousel-control-prev,
.carousel-control-next{
    filter: invert(100%);
    font-size: 5rem;
    position: absolute;
    top: -4rem;
   
}

.carousel-control-prev{
    left: -8%;
}
.carousel-control-next{
    right: -8%;
}