
  

.poster{
    width: 100%;

    position: relative;
    overflow: hidden;
}

.poster img
{
    object-fit: contain;
    width: 100%;
}
.poster .sale-posetr{
    width: 32.5rem;
    position: absolute;
    top: 8%;
    left: 4%;
    background-color: #ffffff;
    height: auto;
    padding: 2.24rem 2.4rem;
    box-shadow: 0 0 0.4rem rgba(0,0,0,0.45);
  
}
.poster .sale-posetr .sale-start{
    display: flex;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.poster .sale-posetr .sale-start .diwali-sale{
    font-family: var(--Fonts);
    font-size: 3.36rem;
}
.poster .sale-posetr .sale-start .sale-ends{
    font-size: 1.92rem;
}
.poster .sale-posetr .sale-start .sale-search{
    margin-top: 1.28rem;
    border: 0.2rem solid var(--lighDark);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.poster .sale-posetr .sale-start .sale-search input{
    height: 4rem;
    flex: 0.96;
    border: none;
    outline: none;
}

.poster .sale-posetr .sale-start .sale-search input::placeholder{
    padding-left: 1.6rem;
    font-size: 1.76rem;
}
.poster .sale-posetr .sale-start .sale-search i{
    flex: 0.11;
    text-align: center;
   font-size: 1.76rem;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 40px;
    margin-right: 0.32rem;
}

.dif-courses{
    margin-top: 3.36rem;
    position: relative;
    padding: 2.4rem 3.2rem ;
}
.dif-courses .broad-course{
    font-size: 3.52rem;
}
.dif-courses .onlin-course{
    font-size: 1.92rem;
}
.dif-courses .pytho{
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.664rem;
    cursor: pointer;
  
   
}
.dif-courses .pytho li{
    font-weight: bold;
    opacity: 0.6;
}
.dif-courses .pytho li:hover{
   opacity: 1;
}
.dif-courses .pytho #pip{
    opacity: 1;
}

@media (max-width:1200px) {
    .poster .sale-posetr .sale-start .sale-ends{
        font-size: 1.6rem;
    }
}
@media (max-width:970px) {
    .poster .sale-posetr .sale-start .diwali-sale{
        font-size: 3.04rem;
    }
    .poster .sale-posetr {
        height: 17rem;
    }
    .dif-courses .onlin-course{
        font-size: 1.6rem;
    }
    .dif-courses .broad-course{
        font-size: 3.2rem;
    }
    .dif-courses .pytho{
        width: 80%;
        font-size: 1.6rem;
    }
}
@media (max-width:875px) {
    .dif-courses .onlin-course{
        font-size: 1.6rem;
    }
    .dif-courses .broad-course{
        font-size: 3.2rem;
    }
    .dif-courses .pytho{
        width: 95%;
        font-size: 1.6rem;
    }
}
@media (max-width:744px) {
    .dif-courses .pytho {
        width: 95%;
        font-size: 1.6rem;
        white-space: nowrap;
   
        overflow: hidden;
    }
    .dif-courses .pytho li{
        display: inline-block;
        margin: 0.64rem;
    }
    .dif-courses .onlin-course{
        font-size: 1.6rem;
        margin-bottom: 0;
    }
    .dif-courses .broad-course{
        font-size: 2.878rem;
    }
}
@media (max-width:586px) {
    .dif-courses .onlin-course{
        display: none;
    }
    .dif-courses .broad-course{
        display: none;

    }
}
@media (max-width:699px) {
    .poster .sale-posetr {
        display: none;
    }
}